*_cache/
*_files/
revel_all_chromosomes.csv.zip
src/__pycache__
.Rhistory
src/*.pyc
*.xlsx#
*.csv#
data/gnomad_exome_r202_sites/*.noQC
data/gnomad_exome_r202_sites/*tableized
data/gnomad_exome_r2.1.1/gnomad.exomes.r2.1.1.sites_split10_only_var_info.out_paraloc_tableized
data/gnomad_exome_r2.1.1/gnomad.exomes.r2.1.1.sites_split30_only_var_info.out_paraloc_tableized
data/gnomad_exome_r2.1.1/gnomad.exomes.r2.1.1.sites_split31_only_var_info.out_paraloc_tableized
data/gnomad_exome_r2.1.1/gnomad.exomes.r2.1.1.sites.AFlessthan0.001PASSFilter_only_var_info.vcf.gz
data/all_possible_mutations/synthetic_exome/*/*tableized
data/all_possible_mutations/synthetic_exome/*noQC
data/all_possible_mutations/synthetic_exome/*para_con
data/all_possible_mutations/synthetic_exome/*all_con
data/all_possible_mutations/synthetic_exome/*/*noQC
data/all_possible_mutations/synthetic_exome/*/*para_con
data/all_possible_mutations/synthetic_exome/*/*all_con
data/all_possible_mutations/synthetic_exome/*/*RDS.gz
data/all_possible_mutations/synthetic_exome/*/*RDS
data/clinvar/clinvar_20190114_GRCh38_onlyPathogenic_and_Likely_pathogenic.out_no_plugin
data/clinvar/clinvar_20190114_GRCh38_onlyPathogenic_and_Likely_pathogenic.out_no_plugin_summary.html
data/clinvar/clinvar_20190114_GRCh38_onlyBenign_and_Likely_benign.out_no_plugin
data/clinvar/clinvar_20190114_GRCh38_onlyBenign_and_Likely_benign.out_no_plugin_summary.html
*core.*
